
//Dev_SBO-606 start
.select-rule{

    
    .rule-item{
        
        padding-left: 20px;
        margin-bottom: 40px;
        
        .onetouch-name{
            font-size: 18px;
            font-weight: 600;
        }
        
        .onetouch-description{
            font-size: 15px;
        }
        
        .onetouch-change {
            font-size: 15px;
            margin-top: 10px;
            margin-right: 10px;
        }

    }
}

//Dev_SBO-606 end