$WIDGET-HEADER-HEIGHT: 40px;

.equipment-widget-header {
	background-color: $BLU6;
	height: $WIDGET-HEADER-HEIGHT;
	width: 100%;
	z-index: 3;

	.widget-header-text {
		display: inline-block;
		color: $WHT0;
		font-size: 17px;
		font-weight: 500;
		padding-left: 15px;
		padding-top: 8px;
        padding-bottom: 8px;
	}

	.widget-header-icon-left {
		display: inline-block;
		width: 40px;
		height: 100%;
		background-size: contain;
		background-repeat: no-repeat;

		&.history-icon {
			background-image: url("/images/icons/myEquipment/header_history.svg")
		}

		&.header-schedule-icon {
			background-image: url("/images/icons/myEquipment/header_schedule.svg");
		}

		&.header-usage-icon {
			background-image: url("/images/icons/myEquipment/icon_usage.svg");
		}

		&.header-trv-icon {
			background-color: $ORG5;
			background-image: url("/images/icons/myEquipment/icon_trv.svg");
		}

		&.icon-collapse-carat {
			background-image: url("/images/icons/myEquipment/icon_collapse-1.svg")
		}

		&.edit-icon {
			background-image: url("/images/icons/icon_edit_white.svg");
		}
	}

	.widget-header-icon-right {
		display: inline-block;
		width: 24px;
		height: 24px;
		margin-right: 15px;
		margin-top: 8px;
		background-size: contain;
		background-repeat: no-repeat;

		&.icon-expand-carat {
			background-image: url("/images/icons/myEquipment/icon_expand-1.svg")
		}

		&.icon-collapse-carat {
			background-image: url("/images/icons/myEquipment/icon_collapse-1.svg")
		}

		&.edit-icon {
			background-image: url("/images/icons/icon_edit_white.svg");
		}
	}

	.equip-alias-edit {
		position: relative;
		width: 100%;
		height: 179px;
		background-color: $BLU6;
		margin: 0;
		z-index: 3;

		@media (min-width: $screen-sm-min) {
			height: 138px; // 178 - 40
		}

		.alias-textbox-wrapper {
			// we have to go back up into the widget header
			margin-top: -31px;
			padding: 0 20px;

			@media (min-width: $screen-sm-min) {
				margin-top: -32px;
				padding: 0 25px;
			}
		}

		.alias-btn-wrapper {
			padding: 0 0 15px;

			@media (min-width: $screen-sm-min) {
				padding: 0 10px;
			}
		}
	}
}

.equipment-history-widget {
	.header-row {
		@include wordwrap();
		padding: 5px 0 20px 0;
		font-size: 11px;
		font-weight: $font-weight-semibold;
		color: $BLU_LT2;

		@media (min-width: $screen-sm-min) {
			font-size: 18px;
		}

		.header {
			cursor: pointer;
		}

		.sort-arrow-icon {
			background-position: center;
			background-repeat: no-repeat;
			height: 8px;
			width: 12px;
			margin-left: 8px;

			&.show-arrow {
				background-image: url("/images/icons/icon_arrow_down_blue.svg");

				&.point-arrow-up {
					padding-left: 0px;
					padding-right: 3px;
					-webkit-transform: rotate(180deg);
					-moz-transform: rotate(180deg);
					-ms-transform: rotate(180deg);
					-o-transform: rotate(180deg);
					transform: rotate(180deg);
				}
			}
		}
	}

	.equipment-history-row {
		&:nth-child(even) {
			background-color: rgba(206, 216, 226, 0.2);
		}
		@include wordwrap();
		padding-top: 20px;
		padding-bottom: 20px;
		font-size: 10px;
		color: $BLU_LT2;
		border-top: 1px solid $GRY_LT7;

		@media (min-width: $screen-sm-min) {
			font-size: 18px;
		}
	}

	.maximize-icon {
		background-image: url("/images/icons/myEquipment/icon_maximize.svg");
		background-position: center;
		background-size: contain;
		width: 32px;
		height: 32px;
		float: right;
		margin: 28px 0 5px 20px;
		cursor: pointer;
	}
}

.panel-body-widget {
	padding: 0;
	min-height: 50px;

	&.collapsed {
		//if collapsed remove min height
		min-height: 0;
	}
}

.equipment-settings-widget {
	.panel-default {
		position: relative;
	}
}

.equipment-status-content {
	position: relative;
	height: 250px;
	width: 100%;
	padding: 35px 29px 23px 29px; // this takes into account 15px padding from panel-body !

	.status-connection {
		position: absolute;
		width: 28px;
		height: 20px;
		left: 45%;
		top: 207px;
		background-repeat: no-repeat;
		background-size: contain;

		&.connected {
			background-image: url("/images/icons/myEquipment/icon_connected.svg");
		}

		&.not-connected {
			background-image: url("/images/icons/myEquipment/icon_no_connection.svg");
		}
	}
}

.equipment-settings-widget.informationWidget {
	.panel-body {
		padding: 0;
	}

	.info-widget-content {
		.table-wrapper {
			display: table;
			border-bottom: 1px solid $panel-default-border;
			padding: 20px;
			font-size: 18px;
			color: $GRY_LT4;
		}

		.table-row-wrapper {
			display: table-row;
		}

		.table-data {
			display: table-cell;
			vertical-align: middle;
		}

		.info-content {
			text-align: right;
			word-break: break-all;
		}
	}
}

// equipment settings page
.equipment-pane.panel-body {
	padding: 0;
	display: inline-block;
	position: relative;

	&:after {
		content: '';
		display: block;
		margin-top: 50%;

		@media (min-width: $screen-sm-min) {
			margin-top: 100%;
		}
	}

	.equipment-icon {
		height: 60%;
		width: 100%;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
	}

	.spinner {
		margin: 18% auto;

		@media (min-width: $screen-sm-min) {
			margin: 36% auto;
		}
	}
}

.trv-widget-content {
	.trv-item {
		.wrapper-border {
			padding: 15px 20px;
			border-bottom: 1px solid #ddd;
		}

		&:last-of-type {
			.wrapper-border {
				border-bottom: none;
			}
		}
	}

	.trv-name {
		font-size: 16px;
		font-weight: 600;
		color: $BLU4;
		line-height: 22px;
		cursor: pointer;
	}

	.icon-row {
		margin-top: 10px;
		margin-bottom: 15px;
	}

	.button-wrapper {
		float: right;
		margin-right: 20px;
	}

	.edit-add-icon {
		display: inline-block;
		vertical-align: top;
		height: 24px;
		width: 24px;
		background: no-repeat center;
		background-size: contain;

		&.add {
			background-image: url("/images/icons/icon_add_blue_outline.svg");
		}

		&.edit {
			background-image: url("/images/icons/myEquipment/icon_edit_blue.svg");
		}
	}

	.add-text {
		display: inline-block;
		vertical-align: top;
		margin-right: 15px;
		padding-top: 3px;
		font-size: 15px;
	}
}

.trv-edit-modal {
	.modal-row {
		margin-left: 10px;
		margin-right: 10px;

		@media (min-width: $screen-sm-min) {
			margin-left: 100px;
			margin-right: 75px;
		}
	}

	.title {
		font-size: 24px;
	}

	.error {
		color: $RED1;
		font-weight: 600;
		text-align: center;
	}

	.checkbox-text {
		margin-left: 0;
		font-weight: 600;
	}

	.checkbox {
		padding-left: 0;

		@media (min-width: $screen-sm-min) {
			padding-left: 30px;
		}
	}

	.identify-icon {
		height: 40px;
		width: 40px;
		background: url("/images/icons/myEquipment/icon_identify_inactive.svg") no-repeat center;
		background-size: contain;
		margin-top: 10px;

		&.active {
			background-image: url("/images/icons/myEquipment/icon_identify_active.svg");
		}
	}

	.trv-item {
		border-top: 2px solid $GRY8;
	}

	.trv-item-view:last-of-type {
		.trv-item {
			border-bottom: 2px solid $GRY8;
		}
	}

	.save-button, .cancel-button {
		@media (min-width: $screen-sm-min) {
			float: right;
		}
	}

	.save-button {
		margin-bottom: 10px;

		@media (min-width: $screen-sm-min) {
			padding-right: 0;
			margin-bottom: 0;
		}
	}
}

.add-new-interval-region-mobile {
	background-color: $GRY_LT2;
	padding-right: 0;
}

.schedule-region {

	.mobile-intervals {
		color: red;
		margin-bottom: 40px;

		.tab-header {
			border-radius: 0;
			border: 0;
			margin-top: 10px;
			font-size: 30px;
			font-weight: 600;
			padding-left: 20px;
			padding-right: 20px;

			@media (min-width: $screen-xs-min) {
				padding-left: 40px;
				padding-right: 40px;
			}
		}

		.daily-tabs {
			.tab-header {
				padding-left: 10px;
				padding-right: 10px;
				font-size: 16px;

				@media (min-width: $screen-xs-min) {
					font-size: 20px;
					padding-left: 20px;
					padding-right: 20px;
				}

				@media (min-width: $screen-md-min) {
					font-size: 30px;
					padding-left: 20px;
					padding-right: 20px;
				}
			}
		}

		.tabbed-bottom-effect {
			height: 12px;
		}

		.nav {
			color: $GRY3;
			opacity: 0.5;

			&.active {
				opacity: 1;
				background-color: $GRY_LT6;
				border-bottom: 1px solid $GRY_LT1;

				.tabbed-bottom-effect {
					background-color: $BLU12;
					opacity: 1;
				}

				.tab-header {
					border: 0;
					background-color: $GRY_LT6;
				}
			}
		}

		a {
			color: $GRY3;

			&:hover {
				background-color: $GRY_LT2;
			}
		}

		.interval-view {
			&:nth-child(odd) {
				.interval {
					background-color: $GRY_LT2;
				}
			}

			&:last-child {
				.interval {
					border-bottom: 0;
				}
			}

			.interval {
				border-bottom: 1px solid $GRY_LT1;
				padding-right: 0;
				width: 100%;
				padding-left: 4%;

				.time {
					font-size: 22px;
					color: $GRY_LT4;
					margin-top: 20px;
					margin-bottom: 20px;

					@media (min-width: $screen-xs-min) {
						font-size: 30px;
					}
				}

				.temperature {
					@include center-vertical-absolute();
					font-size: 25px;
					color: $GRY_LT4;
					right: 6%;

					@media (min-width: $screen-xs-min) {
						font-size: 35px;
					}

					@media (min-width: $screen-sm-min) {
						font-size: 43px;
					}

					&.lighter {
						font-weight: lighter;
					}
				}
			}

			.edit-icon {
				width: 24px;
				height: 24px;
				background: url("/images/icons/myEquipment/icon_edit_blue.svg") no-repeat center;
				background-size: contain;
				right: 15px;

				@media (min-width: $screen-xs-min) {
					right: 34px;
				}
			}
		}

		.add-button {
			margin-bottom: 10px;
		}
	}

	.column-labels {
		font-size: 14px;
		color: $GRY_LT4;
		font-weight: bold;
		margin-left: 2.5%;
		margin-right: 2.5%;

		.time-holder {
			width: 50%;
			padding-left: 0;
		}

		.time-icon {
			width: 18px;
			height: 20px;
			background: url("/images/icons/schedules/icon_countdown.svg") no-repeat center;
			background-size: contain;
			left: 5px;
		}

		.time {
			padding-left: 20px;
		}

		.schedule-value-holder {
			width: 50%;
		}

		.temperature-holder {
			padding-left: 15px;

			@media (min-width: $screen-md-min) {
				padding-left: 50px;
			}
		}

		.schedule-value-header {
			text-align: right;
		}

		.temperature-header-icon {
			height: 24px;
			width: 24px;
			background: url("/images/icons/schedules/thermometer-partial-fill-grey.svg") no-repeat center;
			background-size: contain;
		}

		.schedule-value-container {
			width: 124px;
			float: right;
		}
	}

	.edit-button-row {
		margin-right: 2px;
		margin-bottom: 12px;
	}

	.edit-button {
		height: 40px;
		width: 40px;
		position:relative;

		.edit-icon {
			@include center-vertical-horizontal-absolute();
			width: 24px;
			height: 24px;
			background: url("/images/icons/myEquipment/icon_edit_blue.svg") no-repeat center;
			background-size: contain;
		}
	}
}

.trv-region {
    @media (max-width: 380px) {
        .header-newclass {
            height: 64px;
            .icon-left-newclass {
                width: 64px;
            }
            .text-newclass {
                float:left;
                width: 75%;
            }
        }
    }
    
/*    .widget-header-icon-right {
        display: none;
    }*/
}
