.my-equipment-page {
	@extend _default-page;

	.groups-region, .categories-region {
		margin-top: 40px;
		padding-left: 0;
		padding-right: 0;
		min-height: 50px;
		position: relative;

		@media (min-width: $screen-sm-min) {
			margin-top: 30px;
		}
	}

	.devices-region {
		margin-top: 40px;
		padding-bottom: 50px;
		min-height: 50px;
		position: relative;
	}

	.ungrouped-header {
		padding-top: 25px;
		font-size: 24px;
		color: $BLU3;

		@media (min-width: $screen-sm-min) {
			padding-top: 66px;
		}
	}
}

.section-indicator {
	width: 36px;
	height: 36px;
	padding-top: 4px;
	padding-left: 13px;
	background-color: $ORG1;
	font-size: 20px;
	color: $WHT0;
	border-radius: 50%;
	margin-left: 20px;
}

.section-title {
	float: right;
	font-size: 18px;
	font-weight: 600;
	color: $GRY3;
	padding-top: 6px;
}

.equipment-table {
	margin-top: 30px;
	margin-bottom: 30px;

	.equipment-row {
		border-top: 1px solid $GRY_LT1;

		&:last-child {
			border-bottom: 1px solid $GRY_LT1;
		}

		.salus-checkbox {
			position: relative;
			height: 24px;
			margin-top: 30px;
			margin-bottom: 30px;
			margin-left: 20px;
		}

		.checkbox-text {
			position: absolute;
			top: 0;
			left: 108px; // 28 checkbox + 30 margin + 50 equip-icon
			margin-left: 30px;
			font-size: 16px;
			font-weight: 600;
			color: $GRY3;
			overflow: hidden;
			text-overflow: ellipsis;
			width: calc(100% - 138px);
			white-space: nowrap;
		}
	}
}

.new-group-page {
	@extend _default-page;

	.group-name-textbox {
		width: 92%;

		@media (min-width: $screen-sm-min) {
			width: 42%;
		}
	}

	.equipment-icon {
		position: absolute;
		top: -11px;
		display: inline-block;
		margin-left: 30px;
		width: 50px;
		height: 50px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}
}

.device-window-sensor-page {
    .equipment-icon {
		position: absolute;
		top: -11px;
		display: inline-block;
		margin-left: 30px;
		width: 50px;
		height: 50px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}
}


.group-page {
	.edit-icon {
		background-size: contain;
		width: 24px;
		height: 24px;
		background: url("/images/icons/myEquipment/icon_edit_blue.svg") no-repeat center;
	}
}

.pin-group {
	height: 34px;
	.salus-group-pin {
		height: 100%;
    width: 28px;
    padding: 5px;
    position: relative;
    background: #09487a;
	}
	.pin-icon {
		background: url("/images/icons/dashboard/icon_pin.svg") no-repeat 80% 75%/29%;
		width: 18px;
		height: 25px;
		background-size: contain;
		cursor: pointer;
		user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
	}
	.unpin-icon {
		background-image: url("/images/icons/dashboard/icon_unpin.svg");
	}
}
