.new-user-container {
	background-color: $WHT0;
	padding-bottom: 40px;
	color: $COLOR-TEXT; //default page font color

	.form-control {
		padding-top: 5px;
		height: 47px;
		background-color: $COLOR-FORM-BG;
		border-color: $COLOR-FORM-BORDER-GRY;

		&.show {
			padding-top: 20px;
			font-size: 16px;
		}
	}

	.float-label {
		font-size: 12px;
		color: $GRY_LT4;
		font-weight: 400;
	}

	.salus-radio {
		margin-top: 8px;
		padding-left: 32px;
		padding-top: 6px;

		.radio-toggle {
			width: 32px;
			height: 32px;
			border-color: $COLOR-FORM-BORDER-GRY;
			background-color: $COLOR-FORM-BG;

			&:after {
				width: 20px;
				height: 20px;
			}
		}

		.radio-text {
			margin-left: 12px;
		}
	}

	.new-user-checkbox {
		font-size: 13px;

		@media (min-width: $screen-sm-min) {
			font-size: 14px;
		}

		.salus-checkbox {
			display: inline-block;

			.checkbox-text {
				margin-left: 10px;
			}
		}
	}
}

.new-user-form-submit {
	margin-top: 25px;
}

.new-user-section-header {
	margin-bottom: 17px;
	color: $BLU1;

	h4 {
		font-size: 24px;
		letter-spacing: 0.4px;
	}
}

.section-header-number {
	height: 43px;
	width: 43px;
	padding-top: 7px;
	padding-left: 15px;
	border-radius: 20px;
	background-color: $ORG1;
	color: $WHT0;
	font-size: 2.2rem;
}

.equipment-prompt {
	float: left;
}

.equip {
	@media (max-width: $screen-sm-min) {
		margin-top: 10px;
	}
}

.toc-button-form {
	margin-top: 20px;

	@media (min-width: $screen-sm-min) {
		margin-top: 0;
	}

	.cancel-button {
		margin-top: 20px;

		@media (min-width: $screen-sm-min) {
			margin-top: 0;
		}
	}
}

.modal-dialog.full-width {
	width: 100%;
	margin: 0;
}

.eu-cookie-modal-content {
	@include color-gradient-with-angle(90deg, $TILE-ORANGE-GRADIENT-TOP, 0%, $TILE-ORANGE-GRADIENT-BOTTOM, 100%);

	@media (min-width: $screen-sm-min) {
		height: 92px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.banner-content-wrapper { //row
		margin-left: auto;
		margin-right: auto;

		@media (min-width: $screen-sm-min) {
			width: 940px; // desktop
			height: 72px;
		}
	}

	.alert-icon {
		background: url("/images/icons/dashboard/icon_alert_triangle.svg") no-repeat center;
		background-size: contain;
		width: 36px;
		height: 29px;
		margin-top: 21px; // (72 - 29) / 2
	}

	.cookie-info {
		color: $WHT0;
		text-align: left;
		font-size: 14px;
		justify-content: center;
		flex-direction: column;

		@media (min-width: $screen-sm-min) {
			height: 72px;
			padding-right: 40px;
		}
	}

	.accept-button-region {
		display: inline-block;
		margin-top: 14px;
	}
}