@mixin spinner-animation() {
	-webkit-animation: rotation .6s infinite linear;
	-moz-animation: rotation .6s infinite linear;
	-o-animation: rotation .6s infinite linear;
	-ms-animation: rotation .6s infinite linear;
	animation: rotation .6s infinite linear;
}

@mixin spinner-border($width, $RGBA-red, $RGBA-green, $RGBA-blue) {
	border-left: $width solid rgba($RGBA-red, $RGBA-green, $RGBA-blue, .15);
	border-right: $width solid rgba($RGBA-red, $RGBA-green, $RGBA-blue, .15);
	border-bottom: $width solid rgba($RGBA-red, $RGBA-green, $RGBA-blue, .15);
	border-top: $width solid rgba($RGBA-red, $RGBA-green, $RGBA-blue, 1);
	border-radius: 100%;
}

.spinner-backdrop {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: $BLK0;
	pointer-events: none;
	width: 100%;
	height: 100%;

	.fade {
		opacity: 0 !important;
		filter: alpha(opacity=0) !important;
	}

	&.in {
		opacity: 0.6 !important;
		filter: alpha(opacity=60) !important;
	}
}

.spinner-view {
	@include center-vertical-horizontal-absolute();
	width: 100%;
	background-color: transparent;
	z-index: 10;
}

.spinner-wrapper {
	@include inline-flex-center();
	margin: 0 auto;
	padding: 10px 10%;

	&.grey {
		border-radius: 5px;
		background-color: $GRY_LT9;
	}
}


.salus_logo{
    width: 100%;
	height: 64px;
	background: url("/images/icons/icon_svg_logo_white.svg") no-repeat center;
	background-size: contain;
}


.spinner {
	width: 60px;
	height: 60px;
	background: url("/images/icons/spin_black.svg") no-repeat center;
	background-size: contain;

	&.light {
		background-image: url("/images/icons/spin_white.svg");
	}
}

.spinner-text {
	@include set-responsive-font-size(24px, 24px, true);
	margin-left: 8px;
	color: $GRY3;
}


.login-page {
    
    .spinner {
		@include center-horizontal-absolute();
		margin: auto;
		background-image: url("/images/icons/spin_black.svg");

		.dashboard-background-color & {
			background-image: url("/images/icons/spin_white.svg");
		}
	}
    
}

#authenticating-page {
    
    .logo{
        background: url("/images/icons/icon_svg_logo_white.svg") no-repeat;
        background-size:30px 24px;
        width: 30px;
        height: 24px;
    }
    
    .hamburger{
        right: 15px;
        background: url("/images/icons/icon_hamburger_white.svg") no-repeat right/60%;
        width: 50px;
        height: 100%;
    }
    
	.spinner {
		@include center-horizontal-absolute();
		margin: auto;
		background-image: url("/images/icons/spin_black.svg");

		.dashboard-background-color & {
			background-image: url("/images/icons/spin_white.svg");
		}
	}

	h1 {
		color: $BLU11;

		.dashboard-background-color & {
			color: $WHT0;
		}
	}
}

.spinner-dynamic {
	@include spinner-animation();
	@include spinner-border(6px, 1, 70, 124);
	height: 50%;
	width: 50%;
	position: absolute;
	top: 25%;
	left: 25%;
	z-index: 1; /* places this spinner above the backdrop */
}

.spinner-dynamic-arc-interior {
	@include spinner-animation();
	@include spinner-border(10px, 255, 193, 7); // A yellow orange color
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

@-webkit-keyframes rotation {
	 from {
		 -webkit-transform: rotate(0deg);
	 }
	 to {
		 -webkit-transform: rotate(359deg);
	 }
 }

@-moz-keyframes rotation {
	from {
		-moz-transform: rotate(0deg);
	}
	to {
		-moz-transform: rotate(359deg);
	}
}

@-ms-keyframes rotation {
	from {
		-ms-transform: rotate(0deg);
	}
	to {
		-ms-transform: rotate(359deg);
	}
}

@-o-keyframes rotation {
	from {
		-o-transform: rotate(0deg);
	}
	to {
		-o-transform: rotate(359deg);
	}
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}