$LARGE-TILE-SIZE: 145px;
$LARGE-TILE-DOUBLE-WIDTH-HEIGHT-SIZE: 300px;
$SMALL-TILE-SIZE: $LARGE-TILE-SIZE / 2;
$ANIMATION-DURATION: 400ms;
$ANIMATION-DURATION-HALF: $ANIMATION-DURATION / 2;
$PACKERY-TILE-GUTTER: 10px;
$FRONT-ARC-WIDTH-HEIGHT: 91px;
$BACK-ARC-WIDTH-HEIGHT: 190px;
$TILE-BOTTOM-MARGIN: 15px;
$LARGE-TILE-MARGIN:5px;

.drag-mode-enabled {
	.tile-container {
		&.is-pointer-down {
			@include dropshadow(0px, 0px, 7px, 0px, $COLOR-SHADOW, false);
			z-index: 2; /* places the active drag tile above the other tiles */
		}

		/* Turn the drag-handle (gear icon) transparent to 50% with an animation during drag */
		.drag-handle {
			opacity: 0.5;
			pointer-events: none;
		}
	}
}

.tile-container {
	-webkit-user-select: none;
	-webkit-perspective: 1000px; /* 1000px perspective chosen because it looked pleasant */
	perspective: 1000px;
	z-index: 1; /* places the tiles above the drag backdrop */

	// TODO add browser specific extensions here so this works on FF and IE
	/* only allow the hold animation when the tile is not flipped */
	&.is-pointer-down > .tile:not(.flipped) {
		/* Has a delay of 0.2 ms to allow the user to single tap on the tile without the animation showing */
		-webkit-animation: filter-animation 0.4s ease-in 0.2s 1;
	}

	.group-tile {
		margin-bottom: 0;
		height: 100%;
		padding: 0;
		width: 100%;
	}

	// TODO add browser specific extensions here so this works on FF and IE
	@-webkit-keyframes filter-animation {
		0% {
			-webkit-transform: scale3d(1, 1, 1);
		}

		90% {
			-webkit-transform: scale3d(1.1, 1.1, 1);
		}

		100% {
			-webkit-transform: scale3d(1, 1, 1);
		}
	}
}

/*
Consider the following area a room full of fine dishware and you are a bull.
Tread lightly and be very careful on how you edit these sizes.
Doing so incorrectly will cause the tile flip and grow animation to break your layout!
*/
.tile-container {
    float: left;
    margin: $LARGE-TILE-MARGIN;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -webkit-touch-callout: none; /* Remove on Touch devices */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
}
.tile-container,
.tile {
	&.large-size {
		width: $LARGE-TILE-SIZE;
		height: $LARGE-TILE-SIZE;

		&.double-width {
			width: $LARGE-TILE-SIZE * 2 + $PACKERY-TILE-GUTTER; // 2 tiles encompass a gutter
			height: $LARGE-TILE-SIZE;
		}

		&.double-width-height {
			width: $LARGE-TILE-SIZE * 2 + $PACKERY-TILE-GUTTER; // 2 tiles encompass a gutter
			height: $LARGE-TILE-SIZE * 2 + $PACKERY-TILE-GUTTER;
		}

		&.double-height {
			width: $LARGE-TILE-SIZE;
			height: $LARGE-TILE-SIZE * 2 + $PACKERY-TILE-GUTTER; // 2 tiles encompass a gutter;
		}

		.front, .back {
			.title-text {
				float: left;
				width: 104px;
				height: 34px;
				font-size: 10px;
				line-height: 12px;
				padding: 4px 0 6px 6px;
				word-break: break-word;
			}
		}

		.back {
			.sync-spinner {
				background-image: url("/images/icons/dashboard/progress_bar_no_border.gif");
				width: 100px;
				height: 10px;
				margin-left: 8px;
				margin-top: 90px;
			}

			.equipment-tile,
			.rule-tile,
			.gateway-tile {
				.equipment-icon {
					@include center-horizontal-absolute();
					top: 43px; // (144 - 58) / 2
					width: 58px;
					height: 58px;
					// background-image filled in from device_category_icon_url
					background: no-repeat center;
					background-size: contain;
				}
			}

			.rule-tile {
				.equipment-icon.one-touch {
					background-image: url("/images/icons/dashboard/icon_one_touch.svg");

					&.pressed {
						background-image: url("/images/icons/dashboard/icon_one_touch_pressed.svg");
					}
				}
			}

			.gateway-tile {
				.equipment-icon {
					background-image: url("/images/icons/dashboard/icon_wifi.svg");

					&.offline {
						background-image: url("/images/icons/dashboard/icon_no_connection.svg");
					}
				}
			}

			.pin-icon {
				position: absolute;
				right: 0;
				bottom: 0;
				background: url("/images/icons/dashboard/icon_pin.svg") no-repeat 80% 75% / 29%;
				width: 34px;
				height: 34px;
			}

			.battery-icon {
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;

				&.full {
					background-image: url("/images/icons/dashboard/icon_battery_full.svg");
				}

				&.half {
					background-image: url("/images/icons/dashboard/icon_battery_half.svg");
				}

				&.low {
					background-image: url("/images/icons/dashboard/icon_battery_low.svg");
				}

				&.critical {
					background-image: url("/images/icons/myEquipment/icon_battery_critical.svg");
				}
			}

			.spinner {
				width: 20px;
				height: 20px;
			}

			.spinner-text {
				font-size: 14px; // TODO: this may need to shrink for other languages
			}
		}

		.front .drag-handle {
			width: 34px;
			height: 34px;
			float: right;
			background: url("/images/icons/dashboard/icon_settings_gear_white.svg") no-repeat 70% 30% / 50%;
		}

		.back .close-button {
			width: 34px;
			height: 34px;
			float: right;
			background: url("/images/icons/dashboard/icon_close_x.svg") no-repeat 70% 30% / 40%;
			opacity: 0.5;
		}
	}
}

&.small-size {
	width: $SMALL-TILE-SIZE;
	height: $SMALL-TILE-SIZE;
	font-size: 11px;

	.front .drag-handle {
		float: right;
		background: url("/images/icons/dashboard/icon_settings_gear_white.svg") no-repeat center;
	}

	.back {
		font-size: 14px;
	}
}

.tile-container.double-height-width-lg-tile,
.tile-container.double-height-width-lg-tile .tile {
	width: $LARGE-TILE-DOUBLE-WIDTH-HEIGHT-SIZE;
	height: $LARGE-TILE-DOUBLE-WIDTH-HEIGHT-SIZE;
	z-index: 2; // as per the example here http://codepen.io/desandro/pen/tfugk?editors=011

	.back {
		.sync-spinner {
			margin-top: 240px;
		}
		.title-text {
			float: left;
			width: 217px;
			height: 34px;
			font-size: 12px;
			line-height: 12px;
			padding: 8px 0 6px 6px;
			word-break: break-word;
		}

		.close-button {
			width: 40px;
			height: 40px;
			background-size: 45%;
		}

		.pin-icon {
			width: 40px;
			height: 40px;
			background-size: 30%;
			background-position: 78% 65%;
		}
	}
}

.tile-container.double-height-lg-tile,
.tile-container.double-height-lg-tile .tile {
	height: $LARGE-TILE-SIZE * 2 + $PACKERY-TILE-GUTTER; /* add 10 to account for the gutter width */
	z-index: 2; // as per the example here http://codepen.io/desandro/pen/tfugk?editors=011
}

.tile-container.double-height-width-sm-tile,
.tile-container.double-height-width-sm-tile .tile {
	width: $SMALL-TILE-SIZE * 2;
	height: $SMALL-TILE-SIZE * 2;
	z-index: 2; // as per the example here http://codepen.io/desandro/pen/tfugk?editors=011
}

.tile-container.double-height-sm-tile,
.tile-container.double-height-sm-tile .tile {
	height: $SMALL-TILE-SIZE * 2;
	z-index: 2; // as per the example here http://codepen.io/desandro/pen/tfugk?editors=011
}

/*
End of room full of fine dishware
*/

.tile {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: -webkit-transform $ANIMATION-DURATION ease, width $ANIMATION-DURATION ease, height $ANIMATION-DURATION ease;
	transition: transform $ANIMATION-DURATION ease, width $ANIMATION-DURATION ease, height $ANIMATION-DURATION ease;
	position: relative;

	.drag-handle, .close-button {
		@include transition(opacity .15s linear); /* For animating the fade out when drag mode is enabled */
	}

	.tile-header-container {
		@include salus-clearfix();
	}

	.front, .back {
		@include hide-backface();
		width: 100%;
		height: 100%;
		position: absolute; // needed so the tile faces stack in the same spot and not one on top of the other
		top: 0; // see above
		left: 0; // see above
		color: $WHT0;
		overflow: hidden; /* hides the bottom corner of the arc split element */
	}

	.front {
		z-index: 2; /* places front pane above back */
		transform: rotateY(0deg); /* for firefox 31 */
		visibility: inherit;
	}

	.back {
		@include color-gradient-with-angle(135deg, $TILE-BLUE-GRADIENT-TOP, 0%, $TILE-BLUE-GRADIENT-BOTTOM, 100%);
		-webkit-transform: rotateY(-180deg);
		transform: rotateY(-180deg);
		border: 1px solid $TILE-BACK-BORDER;

		/*Hide the back tile when front tile is visiable. (fixes half cutoff tile)*/
		display: none;

		&.flipping-back {
			-webkit-backface-visibility: inherit;
			backface-visibility: inherit;

			/*Show back tile as we are flipping (fixes half cutoff tile)*/
			display: inherit;
		}
	}

	&.flipped {
		-webkit-transform: rotateY(180deg);
		transform: rotateY(180deg);

		.back {
			/*Show back tile as we are flipped (fixes half cutoff tile)*/
			display: inherit;
		}
	}
}

.slider {
	@include hide-backface();
	width: 40%;
	height: 17%;
	position: absolute;
	top: 73%;
	left: 30%;

	.slider-off {
		@include hide-backface();
		@include border-radius(50%);
		width: 21%; /* 30 / 138 */
		height: 50%; /* 30 / 60 */
		position: absolute;
		top: 25%; /* 15 / 60 */
		left: 64%; /* (138 - 50 - 30) / 138 */
		border: 2px solid rgba(255, 255, 255, 0.7);
	}

	.slider-on {
		@include hide-backface();
		width: 5%; /* 7 / 138 */
		height: 50%; /* 30 / 60 */
		position: absolute;
		top: 25%; /* 15 / 60 */
		left: 20%; /* ((50 - 15) - 7) / 138 */
		background-color: $TILE-SMARTPLUG-OFF-STATE-BAR;
	}

	.slider-knob {
		@include hide-backface();
		@include border-radius(50%);
		@include dropshadow(0px, 2px, 4px, 0px, $COLOR-SHADOW, false);
		width: 38%; /* 52 / 138 */
		height: 86%; /* 52 / 60 */
		position: absolute;
		top: 7%; /* 4 / 60 */
		left: 3%; /* 6 / 136 */
		background-color: $WHT0;
		-webkit-transition: all $ANIMATION-DURATION ease;
		transition: all $ANIMATION-DURATION ease;
	}

	.slider-background {
		@include hide-backface();
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0px;
		top: 0px;
		background-color: rgba(0, 0, 0, 0.5);
		-moz-border-radius: 40px;
		-webkit-border-radius: 40px;
		border-radius: 40px;
	}
}

.tile {
	.front {
		.add-new-tile-text {
			color: $WHT0;
			padding-top: 25%;

			@media (min-width: $screen-sm-min) {
				padding-top: 3%;
			}
		}

		.add-new-tile-background {
			border-color: $GRY_LT6; // welcome tile border color
		}
	}
}

.add-new-tile-background {
	background: url("/images/icons/icon_add_gray.svg") no-repeat;
	background-position: center 80%;
	background-size: 26%;
	border: 1px dashed $GRY5;

	@media (min-width: $screen-sm-min) {
		background-position-y: 63%;
	}

	&.small {
		background-position-y: 83%;

		@media (min-width: $screen-sm-min) {
			background-position-y: 75%;
		}
	}
}

.add-new-tile-text {
	text-align: center;
	color: $GRY6;
	font-weight: 100;
	text-transform: lowercase;

	&:first-letter {
		text-transform: uppercase;
	}

	&.regular-text {
		@include set-responsive-font-size(22px, 22px, true);
		padding-top: 28%;
	}

	&.small-text {
		@include set-responsive-font-size(15px, 16px, true);
		padding-top: 10%;
		margin-right: 10%;
		margin-left: 10%;

		@media (min-width: $screen-sm-min) {
			padding-top: 8%;
		}

		@media (min-width: $screen-md-min) {
			padding-top: 15%;
		}
	}
}

//Techchefs CSS
.tile-placeholder{
	display:none;
	height:$LARGE-TILE-SIZE;
	width:$LARGE-TILE-SIZE;
	float:left;
	margin:$LARGE-TILE-MARGIN;
}

.grow-container {
    position: relative;
	width: 145px !important;
	height: 145px !important;
	z-index: 5;
}

.ghost {
    color: #fff;
    opacity:0;
    background-color: #c00;
    position: relative;
}

.chosen {
	color: #000;
	background: none;
}
