.welcome-tile {
	@include color-gradient-with-angle(180deg, $TILE-BLUE-GRADIENT-TOP, 0%, $TILE-BLUE-GRADIENT-BOTTOM, 100%);
	border: 1px solid $GRY_LT6;
	padding: 4% 12% 4% 6%;
	height: 100%;
	width: 100%;

	.welcome-tile-dismiss {
		margin-right: -10%;
		opacity: .5;
		height: 8%;
		width: 6%;
		background: url("/images/icons/dashboard/icon_close_x.svg") no-repeat right center / contain;
	}

	// note that font sizes had to shrink from spec
	.welcome-tile-title {
		font-size: 18px;
		color: $WHT0;
		padding-bottom: 5%;
	}

	.welcome-tile-description {
		color: $WHT0;
		padding-top: 2%;
		font-size: 10px;
	}

	.welcome-tile-background-logo {
		position: absolute;
		width: 32%;
		height: 54%;
		top: 44%;
		left: 67%;
		background: url("/images/icons/icon_svg_logo_white.svg") no-repeat bottom right / contain;
		opacity: .15;
	}
}