$helpbox-size: 20px;

.info {
	height: $helpbox-size;
	width: $helpbox-size;
	border-radius: ($helpbox-size / 2);

	background-color: $BLU1;
	cursor: pointer;
}

.info:after {
	content: "?";
	color: $WHT1;
	margin-left: 7px;
}