<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<div class="font-size-18 font-semi-bold text-center margin-b-20" data-i18n="login.login.error.invalidLanguage"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<div class="bb-language-dropdown margin-b-25"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3">
			<div class="bb-save-button"></div>
		</div>
	</div>
</div>