<div class="bb-new-contact-anchor"></div>
<div class="bb-main-content">
	<div class="row header-row">
		<div class="bb-contact-description contact-description col-xs-12" data-i18n="equipment.oneTouch.menus.doThis.notifyMe.contactMenu.select"></div>
	</div>
	<div class="bb-content-area content-area center-block">
		<div class="bb-email-region"></div>
		<div class="bb-sms-region"></div>
	</div>
	<div class="row add-new-row">
		<div class="bb-new-contact new-contact margin-b-15 col-xs-12">
			<span role="button" class="new-contact-text pull-right" data-i18n="equipment.oneTouch.menus.doThis.notifyMe.contactMenu.addNew"></span>
			<span class="add-icon pull-right"></span>
		</div>
	</div>
	<div class="bb-input-region input-region"></div>
</div>