<!-- Dev_SBO-606 start-->
<div class="select-rule row">
    <div class="rule-item col-xs-12 col-sm-6">
        <div class="onetouch-name" data-i18n="equipment.oneTouch.recommended.windowMonitor.windowOpen.name"></div>
        <div class="onetouch-description" data-i18n="equipment.oneTouch.recommended.windowMonitor.windowOpen.description"></div>
        <div>
            <div class="onetouch-change pull-left" data-i18n="equipment.oneTouch.menus.doThis.propertyChange.changeLockSettings"></div>
            <div class="bb-window-open-checkbox pull-left"></div>
        </div>
    </div>
    <div class="rule-item col-xs-12 col-sm-6">
        <div class="onetouch-name" data-i18n="equipment.oneTouch.recommended.windowMonitor.windowClosed.name"></div>
        <div class="onetouch-description" data-i18n="equipment.oneTouch.recommended.windowMonitor.windowClosed.description"></div>
        <div>
            <div class="onetouch-change pull-left" data-i18n="equipment.oneTouch.menus.doThis.propertyChange.changeLockSettings"></div>
            <div class="bb-window-close-checkbox pull-left"></div>
        </div>
    </div>
</div>
<div class="bb-equipment-available"></div>
<div class="row margin-b-20">
	<div class="bb-save-button col-sm-2 col-xs-10 margin-b-15 col-xs-pull-1 col-sm-pull-0 pull-right"></div>
	<div class="bb-cancel-button col-sm-2 col-xs-10 margin-b-15 col-xs-pull-1 col-sm-pull-0 pull-right"></div>
</div>
<!-- Dev_SBO-606 end-->