<div class="recommended-title" data-i18n="equipment.oneTouch.automations.recommended.title"></div>
<div class="bb-recommended-sections-region"></div>
<div class="row margin-b-30">
	<div class="bb-add-button col-xs-10 col-sm-3 col-xs-pull-1 col-sm-pull-0 margin-b-15 pull-right"></div>
	<div class="bb-cancel-button col-xs-10 col-sm-3 col-xs-pull-1 col-sm-pull-0 margin-b-15 pull-right"></div>
</div>