<div class="bb-start-time start-time time-input-container"></div>
<!--<div class="time-input-to" data-i18n="equipment.oneTouch.menus.when.timeOfDay.to"></div>
<div class="bb-end-time end-time time-input-container"></div>-->