<header class="bb-region-header navbar navbar-default navbar-fixed-top site-header-container"></header>
<div class="bb-region-body body-content">
	<div class="container">
		<div class="row margin-t-100 margin-b-35">
			<div class="col-xs-12">
				<div class="spinner-view">
					<div class="spinner-wrapper center-relative">
						<div class="spinner"></div>
						<div class="spinner-text" data-i18n="common.loadingMessages.loading"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<footer class="footer bb-region-footer disable-text-select margin-t-15 invisible"></footer>