<form enctype="multipart/form-data" method="post" name="fileinfo" id="fileinfo">
	<label class="open-folder-label" for="file">
		<div class="icon-container">
			<div class="icon bb-icon"></div>
		</div>
		<div class="bb-button-text button-text center-vertical-absolute"></div>
		<input type="file" id="file" name="file"/>
	</label>
</form>