<div role="button" class="bb-create-tsc-wrapper create-tsc-wrapper col-xs-4 col-sm-6 margin-l-10 pull-left">
	<div class="create-tsc-tile-background relative-size-1x1 width100">
		<div class="absolute-fill">
			<div class="bb-create-tsc-text create-tsc-text"></div>
		</div>
	</div>
</div>