<h1 class="h1 margin-b-20 margin-t-0" data-i18n="equipment.myEquipment.newGroup.pageTitle"></h1>
<div class="row">
	<div class="section-indicator col-xs-1">1</div>
	<div class="section-title col-xs-9 col-sm-11" data-i18n="equipment.myEquipment.newGroup.newGroupTitle"></div>
</div>
<div class="bb-group-name-textbox group-name-textbox col-xs-offset-1 margin-b-50"></div>
<div class="row">
	<div class="section-indicator col-xs-1">2</div>
	<div class="section-title col-xs-9 col-sm-11" data-i18n="equipment.myEquipment.newGroup.selectEquipmentTitle"></div>
</div>
<div class="bb-equipment-available"></div>
<div class="row margin-b-20">
	<div class="bb-delete-group delete-group margin-b-15 pull-left"></div>
	<div class="bb-pinops-group pin-group margin-b-15 pull-left"></div>
	<div class="bb-finish-button col-sm-2 col-xs-10 margin-b-15 col-xs-pull-1 col-sm-pull-0 pull-right"></div>
	<div class="bb-cancel-button col-sm-2 col-xs-10 margin-b-15 col-xs-pull-1 col-sm-pull-0 pull-right"></div>
</div>
