<div class="bb-thermostat-name thermostat-name"></div>
<div class="thermometer-icon visible-xs"></div>
<div class="bb-arc-group arc-group hidden-xs">
	<div class="bb-tstat-arc tstat-arc"></div>
	<div class="bb-arc-output arc-output">
		<div class="bb-arc-set-point-temp arc-set-point-temp">0</div>
		<div class="bb-arc-current-temp arc-current-temp">0</div>
	</div>
</div>
<div class="bb-degrees-label degrees-label visible-xs"></div>
<div class="tstat-control-group hidden-xs">
	<div role="button" class="bb-center-controls center-controls">
		<div class="bb-main-mode-icon main-mode-icon tstat-control-icon"></div>
		<div class="bb-fan-mode-icon fan-mode-icon tstat-control-icon"></div>
		<div class="bb-hold-mode-icon hold-mode-icon tstat-control-icon"></div>
	</div>
</div>