<div class="setup-wizard-header"></div>
<div class="container">
	<div class="col-xs-12 col-sm-10 col-sm-offset-2">
		<div class="page-header">
			<h1 class="h1" data-i18n="settings.profile.changePassword.title"></h1>
		</div>
	</div>
	
	<div class="row centered form">
		<div class="bb-old-password"></div>
		<div class="bb-new-password"></div>
		<div class="bb-confirm-password"></div>
	</div>
	<div class="row centered form">
		<div class="centered-text-left">
			<div data-i18n="settings.profile.changePassword.passwordRequirements">
			</div>
		</div>
	</div>
	
	<div class="row centered">
		<div class="bb-cancel-button cancel-button"></div>
		<div class="bb-submit-button"></div>
		
	</div>
</div>
