<div class="font-semi-bold text-center welcome-message" data-i18n="login.welcome.message"></div>

<div class="text-center font-semi-bold font-size-18" id="sign-in-btn-region"></div>

<!-- Dev_SCS-3284 Start -->
<div class="text-center font-semi-bold font-size-18" id="demo-sign-in-btn-region"></div>
<div class="demo-error bb-error invisible"></div>
<!-- Dev_SCS-3284 End -->
<div class="col-xs-12 text-center bb-silo-switch-container padding-t-15 hidden">
	<a class="bb-silo-switch silo-switch" href="#noOp"></a>
</div>

<div id="sign-in-link-panel" class="panel panel-tout">
	<div class="panel-body text-center">
		<span class="text-color-wht0 existing-account-message" data-i18n="login.welcome.accountMessage"></span><a class="no-wrap sign-in margin-l-10" href="/login/signIn" data-i18n="login.welcome.accountLink"></a>
	</div>
</div>