<div class="row new-user-section">
	<div class="col-xs-12 new-user-section-header">
		<div class="row">
			<div class="hidden-xs col-sm-1">
				<div class="section-header-number pull-right">1</div>
			</div>
			<div class="col-xs-12 col-sm-11">
				<h4 data-i18n="setupWizard.newUserForm.subheader"></h4>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-10 col-sm-offset-1">
		<div class="row form">
			<div class="col-xs-12">
				<div class="row margin-b-15">
					<div class="col-xs-12 col-sm-6">
						<div class="bb-first-name"></div>
					</div>

					<div class="col-xs-12 col-sm-6">
						<div class="bb-last-name"></div>
					</div>
				</div>
				<div class="row margin-b-15">
					<div class="col-xs-12 col-sm-6">
						<div class="bb-email"></div>
					</div>
					<div class="col-xs-12 col-sm-6">
						<div class="bb-email-confirm"></div>
					</div>
				</div>
				<div class="row margin-b-15">
					<div class="col-xs-12 col-sm-6">
						<div class="bb-password"></div>
					</div>
					<div class="col-xs-12 visible-xs" data-i18n="setupWizard.newUserForm.passwordRequirements"></div>
					<div class="col-xs-12 col-sm-6">
						<div class="bb-password-confirm"></div>
					</div>
					<div class="col-xs-12 hidden-xs" data-i18n="setupWizard.newUserForm.passwordRequirements"></div>
				</div>
				<div class="row margin-b-30">
					<div class="col-xs-12 col-sm-6">
						<div class="bb-country form-group"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 form toc-button-form margin-b-40" style="padding-left:10%">
			<div class="col-xs-12 col-sm-12">
				<div class="bb-toc-checkbox new-user-checkbox">
					<a href="/legal/terms" class="inline-block" data-i18n="setupWizard.newUserForm.formFields.termsAndConditionsLinkLabel"></a>
				</div>
				<div class="bb-pp-checkbox new-user-checkbox">
					<a href="/legal/privacy" class="inline-block" data-i18n="setupWizard.newUserForm.formFields.privacyPolicyLinkLabel"></a>
				</div>
			</div>
		</div>
		<div class="col-xs-12 form toc-button-form">			
			<div class="col-xs-12 col-sm-5 col-md-4 col-sm-push-1 bb-submit-button"></div>
			<div class="col-xs-12 col-sm-5 col-md-4 col-sm-push-1 bb-cancel-button cancel-button"></div>
		</div>
	</div>
</div>