<div class="bb-dashboard-tile-manager-container dashboard-tile-manager-container packery"></div>
<div class="bb-dashboard-group-container dashboard-modal-container">
  <div class="bb-dashboard-group-container__close close-icon"></div>
</div>
