<%- include("modules/_globalHeader.ejs")%>
<%- include("modules/_title.ejs", {title: email.guest_signup_confirmation.title })%>
<tr>
	<td bgcolor="#ffffff" style="padding: 0px 52px;">
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tbody>
			<tr>
				<td style="padding: 20px 0 30px 0; color: #153643; font-size: 17px; line-height: 20px;">
					<% /* <h1 style="color: #455A64; font-weight: 600; font-size: 18px;"></h1> */ %>

					<%- email.guest_signup_confirmation.contentTopHTML %>

					<div style="text-align:center; margin: 40px 0;">
						<a style="color: #FFF; background-color: #1E88E5; border-color: #1E88E5; display: inline-block; margin-bottom: 0; font-weight: normal; text-align: center; vertical-align: middle; touch-action: manipulation; cursor: pointer; background-image: none; border: 1px solid transparent; white-space: nowrap; padding: 11px 12px; font-size: 14px; line-height: 1.42857; border-radius: 4px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; text-decoration:none;"
						   href="<%= serverBaseUrl %>/login/changePasswordWithToken?confirmation_token=[[user_password_reset_token]]">
							<%- email.guest_signup_confirmation.buttonText %>
						</a>
					</div>

					<%- email.guest_signup_confirmation.contentBottomHTML %>
				</td>
			</tr>
			</tbody>
		</table>
	</td>
</tr>
<%/* - include("modules/_openMobileApp.ejs") */%>
<%- include("modules/_globalFooter.ejs")%>

