<div class="bb-hook-for-hiding-front">
	<div class="tile-header-container">
		<div class="bb-title-text bb-front-tile-title title-text"></div>
	</div>
	<div class="bb-arc-group arc-group">
		<div class="bb-tstat-arc tstat-arc">
			<span class="rs-tooltip rs-tooltip-text"></span>
		</div>
	</div>
	<div class="tstat-control-group">
		<div class="bb-center-controls center-controls">
			<div class="bb-main-mode-icon main-mode-icon tstat-control-icon"></div>
			<div class="bb-fan-mode-icon fan-mode-icon tstat-control-icon"></div>
			<div class="bb-hold-mode-icon hold-mode-icon tstat-control-icon"></div>
		</div>
	</div>
</div>