<div class="bb-breadcrumbs">
	<div class="bb-spinner spinner center-block"></div>
</div>
<div class="row">
	<div class="col-sm-4">
		<div id="bb-status-region" class="status-region"></div>
	</div>
	<div class="col-sm-8">
		<div id="bb-trv-region" class="trv-region"></div>
		<div id="bb-info-region" class="info-region"></div>
        <div id="bb-graph-region" class="graph-region"></div>
		<div id="bb-schedule-region" class="schedule-region"></div>
		<div id="bb-history-region" class="history-region"></div>
		
		<div id="bb-remove-equipment"></div>
	</div>
</div>
