
<div class="col-xs-12 col-sm-10 col-sm-offset-1">
	<div class="row margin-t-5">
        <div id="bb_main_gateway_header" class="col-xs-12 new-user-section-header">
			<div class="col-xs-12 col-sm-11">
				<h5 data-i18n="equipment.gateway.subheader"></h5>
				<h5 data-i18n="equipment.gateway.instruction"></h5>
                <h5 data-i18n="equipment.gateway.instruction1"></h5>
                <h5 data-i18n="equipment.gateway.instruction2"></h5>
                <h5 data-i18n="equipment.gateway.instruction3"></h5>
                
			</div>
		</div>
        
        
        


<!--		<div class="col-xs-12 margin-t-20">
			<span class="gateway-form-serial-number-label" data-i18n="equipment.gateway.deviceSerialNumber"></span>
		</div>-->
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-8">
            <div class="bb-gateway-dsn form-group">
            </div>
		</div>

		<div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-4 margin-t-20">
			<div class="bb-button-refresh"></div>
		</div>
	</div>

	<div class="row bb-gateway-address-container">
		<div class="col-xs-12 margin-t-10  address-header" data-i18n="equipment.gateway.address.header">
		</div>

		<div class="col-xs-12 col-sm-6 margin-t-20">
			<div class="bb-country form-group"></div>
		</div>
        
        <div class="col-xs-12 col-sm-6" style="clear: both;">
			<div class="bb-timezone form-group"></div>
		</div>

		<div class="col-xs-12 col-sm-9">
			<div class="bb-address form-group"></div>
		</div>

		<div class="col-xs-12 col-sm-6">
			<div class="bb-city form-group"></div>
		</div>

		<div class="col-xs-12 col-sm-3 bb-state-wrapper">
			<div class="bb-state form-group"></div>
		</div>

		<div class="col-xs-12 col-sm-2">
			<div class="bb-zip form-group"></div>
		</div>


		<div class="col-xs-12 col-sm-6">
			<div class="bb-device-name form-group"></div>
		</div>

		<div class="gateway-control">
			<div class="col-xs-10 col-xs-offset-1 col-sm-3 col-sm-offset-0 col-sm-push-2 margin-t-20 bb-button-save form-group"></div>
			<div class="col-xs-10 col-xs-offset-1 col-sm-2 col-sm-offset-0 col-sm-pull-3 margin-t-20 bb-button-cancel form-group"></div>
		</div>
	</div>
</div>
