<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<div class="icon-warning margin-auto"></div>
			<div class="row">
				<div id="bb-primary-label" class="delete-share-modal-text col-xs-12 text-center"></div>
				<div class="col-xs-12 text-center" data-i18n="equipment.delete.equipmentDontWorry"></div>
				<div id="bb-gateway-warning" class="col-xs-12 text-center hidden" data-i18n="equipment.delete.gatewayWarning"></div>
			</div>
			<hr class="hidden-xs"/>
			<div class="row">
				<div id="bb-right-btn-area" class="col-xs-8 col-xs-push-2 col-sm-4 margin-t-20"></div>
				<div id="bb-left-btn-area" class="col-xs-8 col-xs-push-2 col-sm-4 margin-t-20"></div>
			</div>
		</div>
	</div>
</div>